.character-card {
  background-color: #0A0A0A;
  margin: 1em;
  border-radius: 15px;
  position: relative;
}

.character-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.character-card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.text-name-character {
  padding-left: 10px;
  margin: 0;
  font-size: 24px !important;
  font-family: 'Creepster';
  color: #FAFAFA;
  font-weight: 700;
}

.text-species-character {
  padding: 10px;
  font-size: 16px !important;
  font-family: 'Poppins';
  color: #A4A4A4;
  font-weight: 400;
  font-size: 14px;
}

.btn-favorite {
  background-color: transparent;
  border: transparent;
  top: 0;
  position: absolute;
  right: 3px;
  top: 3px;
}