<mat-toolbar class="header">
  <img routerLink="/" class="img-header" alt="Logo Rick Morty" src="../../../../assets/logo-rick-morty.png" />
  <div class="box-header">

    <button routerLink="/" class="text-start-header">
      <fa-icon class="icon-home-header" [icon]="faHome"></fa-icon>
      Início
    </button>

    <button routerLink="/favorites" class="box-count-favorites">
      <fa-icon class="icon-favorite-header" [icon]="faHeart"></fa-icon>
      <span class="text-favorites">Favoritos</span>
      <span class="text-count-favorites">{{favoritesCount$ | async}}</span>
    </button>
  </div>
</mat-toolbar>