<mat-toolbar class="header">
  <img class="img-header" alt="Logo Rick Morty" src="../../../../assets/logo-rick-morty.png" />
  <div class="box-header">

    <button routerLink="/" class="text-start-header">
      <mat-icon>home</mat-icon>
      Início
    </button>

    <button routerLink="/favorites" class="box-count-favorites">
      <mat-icon>favorite</mat-icon>
      <span class="text-favorites">Favoritos</span>
      <span class="text-count-favorites">{{favoritesCount$ | async}}</span>
    </button>
  </div>
</mat-toolbar>