.header {
  background-color: #0A0A0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

.img-header {
  width: 114px;
  height: 64px;
}

.box-header {
  display: flex;
}

.text-start-header {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #0A0A0A;
  border: 1px solid #CACACA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.box-count-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0A0A0A;
  color: #0A0A0A;
  border: 1px solid #514f4f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.box-count-favorites mat-icon {
  color: #A4A4A4;

}

.text-count-favorites {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #0A0A0A;
  background-color: white;
  border-radius: 999px;
  padding: 2px 6px;
}

.text-favorites {
  color: #A4A4A4;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
}

.icon-favorite-header {
  color: #A4A4A4;
  font-size: 20px
}

.icon-home-header {
  color: #0A0A0A;
  font-size: 18px
}

@media (max-width: 640px) {
  .img-header {
    width: 95px;
    height: 50px;
  }
}