<div class="content-favorites">
  <div class="content-search">
    <h1>Favoritos</h1>
  </div>
  <div class="content-character-card">
    <app-character-card *ngFor="let character of favorites$ | async" [character]="character"></app-character-card>
  </div>

  <div *ngIf="(favorites$ | async)?.length; else notCharacters" class="content-character-card">
    <app-character-card *ngFor="let character of favorites$ | async" [character]="character"></app-character-card>
  </div>

  <ng-template #notCharacters>
    <div class="content-not-characters">
      <h1>Parece que você ainda não tem favoritos</h1>
      <p>Volte à página inicial e escolha os melhores para você.</p>
      <button routerLink="/">Voltar ao início</button>
    </div>
  </ng-template>
</div>