.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #5D5D5D;
  background-color: transparent;
  width: 350px;
  padding: 5px;
  border-radius: 10px;
}

.icon-search {
  font-size: 20px;
  color: #F2F2F2;
}

.btn-clear-text {
  font-size: 20px;
  color: #F2F2F2;
  cursor: pointer;
}

.input-search input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #F2F2F2;
  padding: 5px;
  border: transparent;
  background-color: transparent;
  width: 80%;
}

.input-search input:focus {
  outline: none;
}

.input-search:hover {
  border: 1px solid #F2F2F2;
  border-bottom: 3px solid #F2F2F2;
}

@media (max-width: 640px) {
  .input-search {
    width: 150px;
  }
}