<div class="content-home">
  <div class="content-search">

    <h1>Início</h1>

    <form>
      <div class="input-search">
        <input type="text" placeholder="pesquisar" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <fa-icon *ngIf="myControl.value && myControl.value.length > 0" class="btn-clear-text" [icon]="square"
          (click)="clearText()">
        </fa-icon>
        <fa-icon class="icon-search" [icon]="search"></fa-icon>
      </div>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let character of filteredCharacters | async" [value]="character.name">
          {{ character.name }}
        </mat-option>
      </mat-autocomplete>
    </form>

  </div>

  <div *ngIf="(filteredCharacters | async) !='' ; else notCharacters" class="content-character-card">
    <app-character-card *ngFor="let character of filteredCharacters | async"
      [character]="character"></app-character-card>
  </div>

  <ng-template #notCharacters>
    <div class="content-not-characters">
      <h1>Nada foi encontrado</h1>
      <p>Tente uma nova busca</p>
    </div>
  </ng-template>
</div>